<!DOCTYPE html>
<html>
<head>
  <title>Cs111</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="row" style="margin-top:50px; margin-right:50px; margin-left:50px">
<%= yield %>
</div>
</body>
</html>
